
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>
<html>
<head>
    <title>Faq</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Client Contact Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    @*<!-- web font -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
    <link href="//fonts.googleapis.com/css?family=Amita:400,700" rel="stylesheet">
    <!-- //web font -->*@
</head>
<body>

    <div>
        <section id="about" class="content-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center latest-job margin-bottom-20">
                        <h1>Faq</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/Images/Faq.jpg" style="height:400px" class="img-responsive">
                    </div>
                    <div class="col-md-6 about-text margin-bottom-20">
                        <div class="faqcont">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center s-24 maintitle">How can we help you?</div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-md-2"></div>


                                <div class="col-md-8 mt10">

                                    <form id="searchFaq" action="//www.JobShop.com/Home/faqSearch" class="search-form">
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="keywords" id="searchFaqinput" placeholder="Search"> <span class="input-group-btn"> <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button> </span>

                                        </div>
                                        <span class="error-display"></span>
                                    </form>
                                </div>
                                <div class="col-md-2"></div>
                            </div>

                            <div class="text-center subtitle s-18 mt20">Choose a category to find the help you need</div>


                            <div class="row mgnT20">
                                <div class="col-md-4 col-sm-4 linkfaq">
                                    <a href="#">
                                        <div class="faqcatbox s-18">
                                            <img src="" width="49" alt="" />
                                            <br />
                                            <b>Getting Started </b>
                                            <p class="nrs-12">New to JobShop? Look no further!</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 col-sm-4 linkfaq">
                                    <a href="#">
                                        <div class="faqcatbox s-18">
                                            <img src="#" width="49" alt="" />
                                            <br />
                                            <b>Employers </b>
                                            <p class="nrs-12">All about your employer account and JobShop Products for employers</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row mgnT20">

                                <div class="col-md-4 col-sm-4 linkfaq">
                                    <a href="#">
                                        <div class="faqcatbox s-18">
                                            <img src="#" width="0" alt="" />
                                            <br />
                                            <b>User Account </b>
                                            <p class="nrs-12">Settings, security and more</p>
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div class="clearfix"></div>
                            <div class="s-18 maintitle mgn40">Popular Questions</div>
                            <div class="quzcont">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="" id="accordion" role="tablist" aria-multiselectable="true">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <h4 class="panel-title">

                                                        <a role="button" data-toggle="collapse" class="accordion-toggle" data-parent="#accordion" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                                            I forgot my password, what do I do now?
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne1">

                                                    <div class="panel-body">
                                                        <div class="ansarrow"></div>
                                                        If you have forgotten your password, follow the steps given below:<br />
                                                        <br />
                                                        1- Go to URL: https://www.JobShop.com/<br />
                                                        2- Click on &quot;Forgot Password&quot; under the blue &quot;Login&quot; button<br />
                                                        3- Enter the Email address of your account registered with JobShop<br />
                                                        4- Reset your password through the Email received from JobShop at your Email Address.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <h4 class="panel-title">

                                                        <a role="button" data-toggle="collapse" class="accordion-toggle" data-parent="#accordion" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                                                            I need a job. Please help.
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne2" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne2">

                                                    <div class="panel-body">
                                                        <div class="ansarrow"></div>
                                                        We appreciate your interest in JobShop, Pakistan&#039;s #1 Job website.<br />
                                                        Please note that JobShop only serves as a platform for job seekers and employers to meet their requirements.<br />
                                                        You can visit our website www.JobShop.com, log in to your account and apply for suitable jobs/internships posted every day.<br />
                                                        Kindly, be informed that employers will contact you directly if found suitable for the applied position.<br />
                                                        Please note that in order to find jobs related to your interest &amp; location, you can use our search feature by following the steps below:<br />
                                                        <br />
                                                        1. Give a keyword particular to your field, e.g. &quot;It&quot;, etc.<br />
                                                        2. Enter the city name in searchbar &quot; e.g., &quot;Islamabad&quot;.<br />
                                                        3. Click &quot;Search.&quot;<br />
                                                        <br />
                                                        We encourage you to search for your desired job through our new feature i.e., &quot;Job Search&quot;, located at the main page of JobShop<br />
                                                        We have categorized jobs related to different fields in our various job channels; for instance, Software &amp; Web Development, Call center &amp; BPO, Freelance etc.<br />
                                                        Jobshop Team wishes you all the best with your future accomplishments.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                <div class="panel-heading" role="tab" id="headingOne">
                                                    <h4 class="panel-title">

                                                        <a role="button" data-toggle="collapse" class="accordion-toggle" data-parent="#accordion" href="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4">
                                                            I have applied to various jobs but there is no response from employers. Why?
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseOne4" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne4">

                                                    <div class="panel-body">
                                                        <div class="ansarrow"></div>
                                                        JobShop serves only as a platform for job seekers and employers to meet their requirements. Once you apply for a job, your CV is sent directly to the employer for review. It is totally up to the HR Department of employer to call and or shortlist candidates for interview.
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </section>
    </div>
</body>
</html>