
@{
    /**/

    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section id="about" class="content-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center latest-job margin-bottom-20">
                <h1>PrivacyPolicy</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="~/JobShop/img/browse.jpg" class="img-responsive">
            </div>
            <div class="col-md-6 about-text margin-bottom-20">




                <div class="col-md-12">
                    <ol class="breadcrumb nrs-14">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="active"><a href="@Url.Action("PrivacyPolicy", "Home")">Privacy Policy </a></li>
                    </ol>
                </div>
            </div>
          


                            <p class="mt20">
                                JobShop takes the privacy of its users very seriously. We strive to provide a safe, secure user experience. This Privacy Policy details the online data collection and usage policies and practices that apply to the JobShop web site and does not apply to information we collect in any other form.
                            </p>
                            <div class="dividr mbc"></div>
                            <h4 class="nrs-18">Usage and Information Collection by JobShop</h4>
                            <p>
                                When you create profile by registering on our site, we request the following personally identifiable information from you: your name, address, e-mail address, telephone number, physical address, and date of birth. We also collect demographic information that is not unique to you such as gender, interests and favorites.<br />
                                We also gather information about our users' use of JobShop, such as what areas of the site you visit and what services you access. We collect your IP address, browser type, domain names, access times and referring Web site addresses. This information is logged to help diagnose technical problems, as well as administer the site in order to constantly improve the quality of our site .<br />
                                <br />
                              </p>
                                                       <div class="dividr mbc"></div>
                            <h4 class="nrs-18">   Disclosure of Personal Information to Third Parties</h4>
                            <p>We do not disclose your personally identifiable information to third parties for their promotional purposes.</p>
                            <ul>
                                <li>We use third party service providers to administer some of our services to you on our site. We use third party service providers to administer payments and process your credit card information when you purchase our products &amp; services. We also use a third party service provider to host our website as well as serve you with our newsletters via email. These service providers are not authorized to use your personally identifiable information for their promotional purposes.</li>
                                <li>We disclose information if legally required to do so, if requested to do so by a governmental entity or if we believe in good faith that such action is necessary to: (a) conform to legal requirements or comply with legal process such as in complying with a judicial proceeding, court order or subpoena; (b) protect our copyrights or property or our affiliated companies; (c) prevent a crime or protect national security; or (d) protect the personal safety of users or the public.</li>
                                <li>In the event of a sale or merger of our business, your information would be a part of the assets transferred. In addition, in the event we become the subject of a bankruptcy proceeding, whether voluntary or involuntary, we or our trustee in bankruptcy may sell, license or otherwise dispose of such information in a transaction approved by the bankruptcy court. In the event of any such circumstances, you will be notified via email or through a prominent notice posted on the JobShop Website.</li>
                                <li>We use a service provider to host our &quot;Help&quot; and &quot;Contact Us&quot; functions on the web site. While these functions take you to a third party web site the information collected here is governed by JobShop and our privacy practices.</li>
                            </ul>
                       <div class="dividr mbc"></div> <h4 class="nrs-18">Use of Material</h4>
                            <p>The contents of JobShop (the &quot;Website&quot;) such as text, graphics, images, logos, button icons, software and other material are protected under Pakistan and foreign copyright, trademark and other laws and are exclusive property of Naseeb Online Services. The brands and logos of different advertisers are property of respective companies. The collection, compilation, arrangement and assembly of all content on this Website is the exclusive property of Naseeb Online Services and is protected by Pakistan and international copyright laws. You may not sell or modify the content on the Website or reproduce, display, publicly perform, distribute, or otherwise use its material in any way for any public or commercial purpose. The use of the content on any other Web Site or in a networked computer environment for any purpose is prohibited.</p>
                            <div class="dividr mbc"></div> <h4 class="nrs-18">Children's use of JobShop</h4>

                            <p>The JobShop web site is not intended for children under 13 years of age. We do not knowingly collect personal information from children under 13.</p>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>





            </div>
        </div>
    </div>
</section>