

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section id="about" class="content-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center latest-job margin-bottom-20">
                <h1>About US</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="~/JobShop/img/browse.jpg" class="img-responsive">
            </div>
            <div class="col-md-6 about-text margin-bottom-20">
                <p>Final year project........... </p>
                <p>
                    This online jobShop  application allows job seekers and recruiters to<br /> connect.
                    The application provides the ability for job seekers to create <br />their accounts,
                    upload their profile and resume, search for jobs, apply<br /> for jobs,view different
                    job openings.The application provides the ability<br />for companies to create their
                    accounts, search candidates, create job postings, and view candidates applications.<br />

                    This website is used to provide a platform for potential candidates to<br />
                    get their dream job and excel in their career.This site can be used as <br />
                    a paving path for both companies and job-seekers for a better life .

                </p>
            </div>
        </div>
    </div>
</section>